.hea{
    text-align: center;
    background-color: blue;
    color: rgb(169, 169, 169);
}
.count{
    float:right;
    display: flex;
    flex-direction: row;
    
    padding-left: 50px;
   
}
.sun{

    float: left;
    display: flex;
    flex-direction: row; 
}
.new{
    padding-left: 50px;
}
.our{
    color:red;}
    
    text-align: left;
}
.dis{
    display: none;
}
.img{
    display: flex;
    flex-direction: row;
    padding-right: 50px;
    padding-top: 70px;

}
